/AutomationApp/build/
/AutomationApp/dist/
AutomationApp.zip
AutomationApp/data/SaveEvents.json
AutomationApp/data/SaveRules.json
AutomationApp/data/SaveRules.txt
AutomationApp/libreries/byte-buddy-1.9.3.jar
AutomationApp/libreries/byte-buddy-agent-1.9.3.jar
AutomationApp/libreries/gson-2.8.2.jar
AutomationApp/libreries/mockito-core-2.23.4.jar
AutomationApp/libreries/objenesis-2.6.jar
AutomationApp/nbproject/build-impl.xml
AutomationApp/nbproject/genfiles.properties
AutomationApp/nbproject/private/private.properties
AutomationApp/nbproject/private/private.xml
AutomationApp/nbproject/project.properties
AutomationApp/nbproject/project.xml
AutomationApp/nbproject/build-impl.xml
